extends layout

block extrascript
    
block content
    .container
        .row
            .col-xs-12
                #app
                h1 All Posts
                ul
                    each post in posts
                        li
                            a(href='/post/'+post.id)= post.title
                            p= "author:"+post.author
                            p= post.createdDate
                            p= "eidted: "+post.editDate
    script(src='js/bundle.js')                
    

